/* 整体统一的风格 */

* {
	padding:0;
	margin:0;
	border:0;
}

body{
	font-family: 'Microsoft YaHei';
	letter-spacing: 1px;
}

.abstract h2 a{
	text-decoration: none;
	color:#555;	
}
.abstract h2 a:hover{
	color:#333;
}

.page-container  h1 {
	font-size:24px;
	margin:0px;
}

.page-container h2 {
	font-size:22px;
	margin:0px;
}
h1,h2{
	
		font-family: 'Microsoft YaHei';
	letter-spacing: 1px;
}

aside .title{
	font-family: 'Microsoft YaHei';
	letter-spacing: 1px;	
}

h2{
	line-height:2.5em;
	letter-spacing: 0px;
}

.billboard{
	padding: 50px 15%;
	margin:auto;
	text-align: center;
	color:#1661BE;
	min-height: 200px;
	line-height: 36px;
}

.nav-active{
	color:#000;
	border-color: #000;
}


img[alt="image-in-post"] {
	max-width:100%;
	margin:0px auto;
	padding:30px 40px;
	display: block;
}


/*用于清除浮动的样式*/
.clearfix:after{
	content:" ";
	display: block;
	clear:both;
	height:0;
}





/*** 第1/2张网页 index.html ***/

/* 整体布局 */
.page-container{
	/*background-color: #ccc;*/
	/*min-height: 800px;*/
}

aside {
	width:375px;
	position: fixed;
	min-height: 800px;
	background-attachment: fixed; 
	background-image: url(../img/wanghuan.jpg);
	background-position: 0px -100px;	
	background-repeat: no-repeat;
}

.main {
	margin-left:375px;
	background-color: #fff;	
}

@media screen and (max-width: 900px) {
	aside{display:none;
	}

	.main{
		margin-left:0px;
	}
}




/* aside 侧边栏部分的样式 */
.title {
	position:fixed;
	bottom: 40px;
	padding:10px 5px;

	background-color: rgba(0,0,0,0.4);
	color:white;	
}

.title h1{
	margin:5px;
}

.title h2{
	margin: 5px 15px;
	font-size: 20px;
}

.title p{
	margin:15px 0px 0px 5px;
}

.title a {
	color:#FFF;
}

.title a:hover{
	text-decoration: underline;

}

.title p a{
	color:#0889FF;
	text-decoration: underline;
}

.post-button {
	position:fixed;
	bottom:60px;
	left:210px;
	padding: 10px 15px;
	border-radius: 4px;
	background-color: #01B401;
	
	color:white;	
	font-family: inherit;
	font-size: 20px;
	letter-spacing: 1px;
}

.post-button:hover{
	cursor: pointer;
}

/* .main主体部分的样式 */
.nav-tabs{
	width:96%;
	border-bottom: solid 3px #ccc;
	margin:auto;
	padding-top:20px;	
	letter-spacing: 3px;
}

.nav-tabs li{
	display: inline-block;		
	min-width: 80px;
	border:0px;
	border-bottom:solid 3px #ccc;
	margin-bottom: -3px;
	list-style: none;
}

.nav-tabs .active{
	border-color: #000;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border-color:transparent;
	color:#000;	
}

.nav-tabs>li>a:hover{
	color:#000;
	background-color: #fff;
	border-color:transparent;
}


.nav-tabs a{

	display: block;
	width:100%;
	text-align: center;
	line-height: 2em;
	color:#555;
}


nav ul li:hover{
	border-color:#000;
}

.articale-list{

}

.abstract {
	margin:20px 5%;
	padding:10px 5px;
	border: solid 1px #aaa;
	border-radius: 4px;
	position:relative;
}

.abstract-text{
	float:left;
	margin-left:15px;

}

.abstract-text-inner{
	margin-right:100px;
}

.abstract-text p{
	margin: 10px 0px 5px 0px;
	font-size:14px;
	color:#999;
}

.abstract-text p span{
	padding:5px;
}

.abstract-text h2{
	line-height:1.5em;
	letter-spacing: 0px;
	 margin:5px 0px;
}



.abstract-thumbnail{
	float:right;	
	margin:7px;
	margin-left:-100%;	
	width:70px;
	height:70px;
	overflow: hidden;	
	border-radius: 4px;	
}

.abstract-thumbnail img{
	width:70px;
}



/*** 第2/2张网页 post.html ***/
.post-container{
	background-color: #eee;
	min-height:800px;
}
.post-main{
	max-width:720px;
	padding:3em 3em 60px;
	margin:auto;
	background-color: #fff;
	color:#333;
}

.post-main h1{
	padding:20px 0px;
}
.post-title{
	padding-left:30px;
	padding-bottom: 20px;
}

.post-title > div >span{
	margin:5px 10px;
	color:#777;
	font-size: 14px;
}


/* 点赞 */
.favor:hover{
	cursor: pointer;
	color:red;
}

@media screen and (max-width: 480px){
	.abstract {
		margin:12px 5%;
	}


	.abstract-text h2{
		line-height: 1.5em;
		font-size: 18px;
	}

	.abstract-text p span{
		padding:2px;
	}

	.abstract-thumbnail{
		margin:3px 3px 3px -100%;
	}

	.abstract-text p{
		line-height: 24px;
		font-size:12px;
	}

	.post-main{
		padding:1em 1em 3em;
	}

} 

/* 定义文章内容的样式 */
.post-content p{
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: 1px;
	margin: 0px 0px 1em;
	
}

.post-content p strong{
	color:#333;
}

.post-container h1{
	line-height: 1.5em;
}


.post-content h2{
	border-bottom:solid 2px #428bca;
	margin-bottom: 1em;
}

.post-content h3{
	font-family: inherit;
	line-height: 1.5em;
	font-weight: bold;
	font-size: 20px;
}

.post-content h4{
	font-family: inherit;
	line-height: 1.25em;
	font-size: 16px;
}

.post-content li p{
	margin: 0px;
}

.post-content li{
	list-style-position: inside;
	margin-left:2em;
}

.post-content em{
	font-family: "KaiTi";
	font-style: normal;
	letter-spacing: normal;
}

.post-content .each-day{
	color:#428bca;
	font-family:"Comic Sans MS", cursive, sans-serif
}

.post-footer{
	text-align: right;
}

.post-footer > span{
	color:#999;
	padding: 10px;
}