.wiki-pane {

}

.note-books {
	margin:20px 50px 0px;
}

.note-books li{
	border: 1px solid #4282CA;
	border-radius: 4px;
	list-style-type: none;
	
	margin:10px 0px;
	font-size: 14px;
	color:#ccc;

	background-color: #7d17e3;
}

.note-books li a{
	display: block;
	padding:10px 15px;
	text-decoration: none;

}

.note-books li a:hover{
	background-color: rgba(0,0,0,0.2);
}

.note-books h2{
	font-size: 20px;
	color:#fff;
}

.note-books p{
	color:rgba(255,255,255,0.6);
}

