<div class="abstract-list">	
	{% for post in site.posts %}
	<div class="abstract clearfix">
		<div class="abstract-text">
			<div class="abstract-text-inner">
		<h2><a href="{{post.url}}" target="blank">{{post.title}}</a></h2>
				<p>
					<span>99 阅读</span>
					<span>13 赞</span>
					<span> {{post.date | date_to_string}}</span>
				</p>

			</div>			
		</div>
		<div class="abstract-thumbnail">
			<img src="{{post.thumbnail}}" alt="">
		</div>
	</div> <!-- end of abstract -->
	{% endfor %}
		
</div>	<!-- end of abstract-list -->
