

我在这里托管自己的代码：<a href="">GitHub</a>
我在这里写文章、有技术也有非技术的：<a href="">简书</a>
我在优酷上发布一些视频：<a href="">王小筷De自频道</a>

### 喜欢做的事儿
* Web新技术
我平时去的网站有：
FEX 百度前端团队维护的技术交流平台，每周会推送Web前端的精品文章。

我目前关注的技术有：
SAE —— 新浪的云应用引擎，我在上面部署Python应用。
微信开放平台 —— 作为移动开发者，不能不去了解这个新东西！

* 写作
我喜欢记录思想片段，喜欢把学到的东西、整理成有序的东西。

推荐一款叫《为知笔记》，它的markdown支持和文档结构两个功能，非常实用！
推荐一个写作交流平台《简书》

* 读书
最喜欢的书有《禅者的初心》《乔布斯传》《创造力》

### 喜欢的电影
我最近发现了好多……好多好的影片啊。我要把它整理整理、分享出来……
最喜欢的有《丹麦女孩》《功夫熊猫3》《寻龙诀》《跟我前期谈恋爱》《肖申克的救赎》《三傻大闹宝莱坞》


### 喜欢的偶像
太多了！金星、乔布斯、精神偶像陈坤、个性女神全智贤、气质女神汤唯……还有正能量偶像彭于晏

### 喜欢的歌
Jessie的《Price Tag》
许巍的《时光》
林忆莲的《倾斜》









